<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Favorite Locations</title>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

      <h1>Favorite Locations</h1>
      <table class="table">
          <thead>
              <tr>
                  <th>id</th>
                  <th>placeId</th>
                  <th>name</th>
                  <th>latitude</th>
                  <th>longitude</th>
                  <th>Get Earthquakes</th>
                  <th>uid</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="p: ${locations}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.placeId}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.latitude}"></td>
                <td th:text="${p.longitude}"></td>
                <td><a th:href="@{/earthquakes/search/(lat=${p.latitude},lon=${p.longitude},location=${p.name})}">Get Earthquakes</a></td>
                <td th:text="${p.uid}"></td>
                <td>
                        <form th:method="delete" th:action="@{/locations/delete/} + ${p.id}">
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </form>
                </td>
              </tr>
          </tbody>
      </table>

      <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  </body>
</html>
